.card {
  display: flex;
  flex-direction: column;
  gap: 15px;
  background-color: #1a1a1a;
}
.card__title,
.card__release-date {
  color: white;
  padding: 10px;
}
.card__title {
  flex: 1;
}
.card__button {
  background-color: darkgray;
  padding: 0.8rem;
  font-size: 20px;
  cursor: pointer;
}
.card__image {
  height: 600px;
  width: 100%;
  img {
    height: 100%;
    width: 100%;
  }
}

@media (max-width: 767px) {
  .card__image {
    height: 300px;
  }
}
